---
version: '3'

services:
  flame:
    image: pawelmalak/flame
    container_name: flame
    environment:
      - TZ=America/Toronto
      - PASSWORD_FILE=/run/secrets/password
    volumes:
      - ./flame_data:/app/data
    #ports:
      #- 5005:5005
    secrets:
      - password
    restart: unless-stopped
  nginx:
    image: lscr.io/linuxserver/nginx:latest
    container_name: nginx
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - ./nginx_config:/config
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped

secrets:
  password:
    file: ./password # Generate using: openssl rand -base64 48
